 <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title slot="start" class="main-header4" color="secondary">TeamSpaces</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary"
        [routerLink]="['/main/tabs/events/modal-events-detail']">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  

  </ion-toolbar>
</ion-header>

<ion-content class="background">
<ion-toolbar color="blank">
  <ion-grid fixed class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-searchbar color="" animated placeholder="Find group" search-icon="search-outline"  debounce="2" (ionChange)="buscar($event)" >
        </ion-searchbar>
      </ion-col>
    </ion-row>  
  </ion-grid>
</ion-toolbar>


<ion-card  *ngFor="let group of this.groups | filtro: textBuscar">
  <ion-item>
    <ion-label>
      <h2>Grupos</h2>
      <span class="badge badge-light ml-2">
        {{group.updatedAt | amLocale:'es' | amDateFormat:'LL'}}
      </span>
      <h2> <strong> {{group.nameChat }}</strong></h2>
      <span class="badge badge-primary ml-2">
        {{group.user.email}}
      </span>
    </ion-label>
  </ion-item>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>

    </ion-col>
  </ion-row>
 
</ion-card> 


<!--ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding">
      <ion-card>
        <ion-card-title horizontal="center" slot="fixed">New Group</ion-card-title>
        <ion-card-content>
          <ion-input type="text" placeholder="Name Chat: Reunion " #nameChat></ion-input> 
          <ion-input type="text" placeholder="Introduce el Email" #email></ion-input>
          <ion-button color="dark" type="submit" expand="block" (click)="addGroup(nameChat,email)">Create Group  </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid-->



   

          <!-- Infinite Scroll -->
          <ion-infinite-scroll
          threshold="150px"
          (ionInfinite)="nextEvents($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
        </ion-infinite-scroll>

</ion-content>



